:host {
  display: block;
  padding: 8px;
}

.description {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
  margin-top: 8px;
}

mat-dialog-content {
  min-width: 350px;
  overflow: hidden; 
}

mat-dialog-actions {
  padding: 16px 0 8px;
}