.create-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
  min-width: 350px;
}

.full-width {
  width: 100%;
}

mat-dialog-actions {
  padding: 16px 0;
}

button[mat-flat-button] {
  padding: 0 24px;
}