.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.register-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.error-msg {
  color: #f44336;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 15px;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
}

mat-card-title {
  text-align: center;
  margin-bottom: 20px !important;
}