

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-color: white;
}

.error-snackbar {
  --mdc-snackbar-container-color: #d32f2f;
  --mdc-snackbar-supporting-text-color: white;
}

.cdk-drag-preview {
  overflow: hidden !important;
  
}

